/* Zera margens e define uma fonte padrão */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Barra de navegação superior */
nav {
  background-color: #333;
  padding: 1rem;
}

/* Estilo dos links de navegação */
nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}

nav a:hover {
  text-decoration: underline;
}

/* Área principal onde as páginas aparecem */
main {
  padding: 2rem;
}

/* tbody {
  background-color: #e4f0f5;
}

tbody > tr > td:last-of-type {
  text-align: center;
} */

.btn {
  padding: 10px 16px;
  margin: 4px 8px;
  color: antiquewhite;
  background-color: #333;
  border: none;
  font-family: Arial, sans-serif;
  font-weight: bold;
}
.btn:hover {
  background-color: #292a2b;
}

td, tr {
  padding: 4px 8px;
  border: 1px black;
}

thead {
  border-bottom: 2px solid rgb(160 160 160);
  background-color: #292a2b;
  color: white;
}